body {
  margin: 0px auto;
  max-width: 1380px;
  background-color: rgb(196, 196, 196);
}

.robot {
  width: 250px;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px;
  background-color: aliceblue;
}

.sticker {
  width: 200px;
}

.celda {
  display: flex;
  flex-direction: column;
  align-items: center;
}
